<button mat-raised-button color="primary">Button 1</button>
<button mat-raised-button color="accent">Button 2</button>

<h1>Heading 1</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eos nemo
  saepe deleniti deserunt quo delectus impedit? Repellat maxime, quidem ea magni
  maiores eaque rem quasi iure? Recusandae magnam eligendi earum, architecto a
  harum voluptas eius corrupti. Iste vitae qui harum similique tempora
  necessitatibus blanditiis recusandae, quidem saepe iure id?
</p>
